div {
  background-color: hsl(0, 0%, 98%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}

.rounded-top-border {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

button {
  font-family: "Josefin Sans";
  font-weight: 700;
}

::ng-deep .mat-button-focus-overlay {
  background-color: transparent !important;
}

.dark-theme {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
  & button:hover {
    color: hsl(236, 33%, 92%);
  }
}

.light-theme {
  background-color: hsl(0, 0%, 98%);
  color: hsl(236, 9%, 61%);
  & button:hover {
    color: hsl(235, 19%, 35%);
  }
}

.selected-filter {
  color: hsl(220, 98%, 61%) !important;
}
