<div class="header" (window:resize)="onResize($event)">
  <h1>TODO</h1>
  <img
    [ngStyle]="{'display': darkTheme ? 'none' : 'block'}"
    (click)="toggleTheme($event)"
    src="./assets/icon-moon.svg" alt="theme-switcher" width="26px" height="26px">
  <img
    [ngStyle]="{'display': darkTheme ? 'block' : 'none'}"
    (click)="toggleTheme($event)"
    src="./assets/icon-sun.svg" alt="theme-switcher" width="26px" height="26px">
</div>
<div class="new-todo">
  <app-new-todo (newTodoEvent)="addTodoItem($event)" [darkTheme]="darkTheme"></app-new-todo>
</div>
<span
  cdkDropList
  (cdkDropListDropped)="drop($event)">
    <div *ngFor="let todo of todos" cdkDrag>
      <span *ngIf="(filter === 'all' || (filter === 'active' && !todo.complete) || (filter === 'completed' && todo.complete))">
        <app-todo-item
          (completeEvent)="toggleComplete($event)"
          (removeEvent)="removeTodo($event)"
          [checked]="todo.complete"
          [content]="todo.text"
          [darkTheme]="darkTheme"
          [firstItem]="isFirstItem(todo)">
        </app-todo-item>
      </span>
    </div>
</span>
<div>
  <app-footer
    (filterChangedEvent)="changeFilter($event)"
    (clearCompletedEvent)="clearCompleted($event)"
    [completedItems]="completedLeft()"
    [itemsLeft]="itemsLeft()"
    [darkTheme]="darkTheme">
  </app-footer>
</div>
<div class="drag-and-drop" [class.dark-theme]="darkTheme" [class.light-theme]="!darkTheme">
  <p>Drag and drop to reorder list</p>
</div>
